*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background: rgb(235, 235, 235) !important;
  color: rgb(75, 75, 75);
}

#app-header{
  padding: 20px;
  background: black;
  margin: 0 !important;
  width: 100%;
}

#app-header h1{
  color: white;
}

#app-header h2{
  color: white;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  padding: 0;
  margin: 0;
}

#form{
  margin: 20px;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}


#task-icon{
  margin-left: 5px;
}

#animation{
  height: auto;
  width: 50%;
  mix-blend-mode: darken;
  transform: translateY(-50px);
}

#no-tasks-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

#no-tasks-container h2{
  text-align: center;
  font-weight: 400;
  transform: translateY(f0px);
  font-size: 18px;
}

#main-tasks-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}



@media (max-width: 480px) {
  body{
    background: rgb(235, 235, 235) !important;
    color: rgb(75, 75, 75);
  }
  #app-header h1{
    font-size: 24px;
  }
  #app-header h2{
    font-size: 12px;
  }
  

  #add-task-btn{
    margin: 20px;
  }
  
  #form{
    font-size: 16px;
    flex-direction: column;
  }



  #no-tasks-container h2{
    font-size: 12px;
    transform: translateY(-30px);
  }

  #animation{
    width: 50%;
    transform: translateY(0px);
  }

  #tasks-container{
    font-size: 12px;
  }

  #delete{
    font-size: 12px;
    display: flex;

  }

  #delete-icon{
    margin-left: 5px;
  }

  
}

#field{
  margin: 10px;
}

#add-task-btn{
  margin-left: 20px;
}

#tasks-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}



